@use "../../abstracts/variables/breakpoints";
@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/typography";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: typography.$font__headings;
    margin-top: 0;
}

h1 {
    clear: both;
    color: colors.$color__headings;
    font-size: typography.$font__h1-sm-size;
    font-weight: 700;
    line-height: typography.$font__headings-line-height;
    margin-bottom: 4.375rem;;

    @media (min-width: breakpoints.$md) {
        font-size: typography.$font__h1-base-size;
    }
}

h2 {
    color: colors.$color__headings;
    font-size: typography.$font__h2-sm-size;
    font-weight: 700;
    line-height: typography.$font__headings-line-height;
    margin-bottom: 3.125rem;

    @media (min-width: breakpoints.$md) {
        font-size: typography.$font__h2-base-size;
    }
}

h3 {
    font-size: typography.$font__h3-sm-size;
    font-weight: 500;
    line-height: typography.$font__headings-line-height;
    margin-bottom: 1.875rem;

    @media (min-width: breakpoints.$md) {
        font-size: typography.$font__h3-base-size;
    }
}

h4 {
    font-size: typography.$font__h4-sm-size;
    font-weight: 500;
    line-height: typography.$font__headings-line-height;
    margin-bottom: 1.75rem;

    @media (min-width: breakpoints.$md) {
        font-size: typography.$font__h4-base-size;
    }
}

h5 {
    font-size: typography.$font__h5-sm-size;
    font-weight: 700;
    line-height: typography.$font__headings-line-height;
    margin-bottom: 1.4rem;

    @media (min-width: breakpoints.$md) {
        font-size: typography.$font__h5-base-size;
    }
}

h6 {
    font-size: typography.$font__h6-sm-size;
    font-weight: 700;
    line-height: typography.$font__headings-line-height;
    margin-bottom: 1rem;

    @media (min-width: breakpoints.$md) {
        font-size: typography.$font__h6-base-size;
    }
}
