@use "../../../abstracts/variables/breakpoints";
@use "../../../abstracts/variables/colors";

.item-with-metadata {
    overflow: initial !important;
    margin-bottom: 3rem !important;
    
    &__container {
        border: 1px solid colors.$color__gray-80;
        margin-bottom: 1.5rem;
    }

    &__header {
        padding: 30px;
        position: relative;
        width: 100%;

        .language {
            margin-left: 10px;
        }
    }

    &__heading {
        margin-bottom: 0;
    }

    &__content {
        display: flex;
        align-items: center;
        border-top: none;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        padding: 20px;

        @media (min-width: breakpoints.$md) {
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 30px;
        }
    }

    &__thumbnail {
        flex-shrink: 0;
        height: auto;
        max-width: 100%;

        img {
            outline-offset: -10px;
        }

        @media (min-width: breakpoints.$md) {
            max-width: 150px;
        }

        @media (min-width: breakpoints.$lg) {
            max-width: 250px;
        }

        @media (min-width: breakpoints.$xl) {
            max-width: 370px;

            img {
                outline-offset: -20px;
            }
        }
    }
}
